streamlit==1.46.1
pandas==2.2.2
polars==0.20.28
numpy==2.3.1
plotly==6.2.0
psutil==5.9.8
scikit-learn==1.7.0
seaborn==0.13.2
matplotlib==3.8.4
missingno==0.5.2
scipy==1.13.0
imbalanced-learn==0.13.0
click==8.2.1
tornado==6.4
jinja2==3.1.3
requests==2.32.2
typing-extensions==4.12.1
python-dateutil==2.9.0.post0
pytz==2024.1
